<h1>Hello {{name}}!</h1>
<p>
    Start editing to see some magic happen :)
</p>

<label for="comment">Comment: </label>
<textarea id="comment" [(ngModel)]="comment" placeholder="Comment"></textarea>
<p>{{ comment }}</p>
<p><em>Before clicking "Execute Script" button, please Right-click any page element and select Inspect Element. Click the Element tab and the Network tab. You will find text of script tag (console.log('console Trinh !');
  alert("Trinh");) executed and src of script tag (bootstrap.bundle.min.js) loaded</em></p>
<button (click)="onClick()">Execute Script</button>
<h2>Directly Accessing DOM Elements:</h2>
<p id="myDiv" #myDiv></p>

<!-- <div [innerHTML]="html | safeHtml" runScripts></div> -->
<!-- <div #htmlContainer [innerHTML]="trustedHTML"></div> -->